<div class="row statbox-bottom__wrapper">

  <div class="col-12 d-block d-lg-none statbox-bottom">
    <div *ngIf="weightedAverageObj.courses && !this.isLoading">
      <app-grades-statbox-bottom title="{{ 'Grades.PeriodStats' | translate }}"
        statsPeriod="{{ 'Grades.InTotal' | translate }}" [registeredCourses]="weightedAverageObj.courses"
        [passedCourses]="weightedAverageObj.passed" [passedGradeWeightedAverage]="passedGradeWeightedAverage"
        [passedGradeSimpleAverage]="passedGradeSimpleAverage" [totalEcts]="totalEcts" [isTranscript]=true></app-grades-statbox-bottom>
    </div>
  </div>

  <div *ngIf="!isLoading" class="col-lg-9 col-sm-12 col-12">
    <div class="py-4">
      <h2 class="d-inline col-sm-8 col-12 mx-n4 mx-lg-n2 mx-md-n2" [translate]="'Grades.AllGrades'"></h2>
      <app-auto-request requestType = 'DraftTranscript'  url = '/messages/list/unread'></app-auto-request>
      <!--<ng-template #tooltipText><div [translate]="'NotAvailableFeature.PrintGrades'" class="text-secondary font-sm"></div></ng-template>
      <div class="dropdown text-right float-right">
        <button class="btn btn-light dropdown-toggle d-none d-md-block disabled" [tooltip]="tooltipText" placement="right"
                type="button" id="dropdownMenuButton" data-toggle="dropdown text-right float-right" aria-haspopup="true"
                aria-expanded="false">
          <span class="mr-4-5" [translate]="'Grades.Print'"></span>
        </button>
        <button type="button" disabled class="disabled d-sm-block d-md-none col-sm-1 mx-n2 justify-content-end btn btn-brand pt-2">
          <i class="fas fa-sliders-h fa-lg"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>-->
    </div>
    <div *ngIf="groups" class="grade_filter-area d-sm-flex flex-wrap rounded d-none d-lg-block mt-3">
      <form class="form-inline p-3 col">
        <div class="form-group col-4 col-sm-5 flex-nowrap">
          <label class="pr-4" for="searchText" [translate]="'Grades.OrderBy'"></label>
          <select class="form-control flex-fill" (change)="onChangeGroup($event.target.value)">
            <option [value]="group.attribute" *ngFor="let group of configuration.groups"
                    [translate]="group.title"></option>
          </select>
        </div>
        <div class="form-group col-8 col-sm-7 flex-nowrap">
          <label class="pr-4" for="searchText" [translate]="'Grades.Filter'"></label>
          <input spellcheck="false" type="text" id="searchText" (keydown)="onSearchKeyDown($event)"
                 name="searchText" class="form-control col text-left" placeholder="{{ 'Grades.SearchPlaceholder' | translate }}" >
        </div>
      </form>
    </div>  <!-- End of *ngIf="groups" -->
    <div *ngIf="groups" class="btn-toolbar my-3 d-sm-flex justify-content-end " role="toolbar">
      <div class="btn-group" role="group">
        <button type="button" (click)="filterOnlyPassedCourses(false)" [ngClass]="{ 'btn-primary': !showPassed, 'btn-gray-100 text-gray-500': showPassed }" class="btn">{{ 'Grades.AllCourses' | translate}}</button>
        <button type="button" (click)="filterOnlyPassedCourses(true)" [ngClass]="{ 'btn-primary': showPassed , 'btn-gray-100 text-gray-500': !showPassed}" class="btn">{{ 'Grades.OnlyPassed' | translate}}</button>
      </div>
    </div>

    <div *ngIf="groups">
      <!-- Start List Group -->
      <div class="mt-3" *ngFor="let group of groups">
        <div *ngIf="group.grades && group.grades.length">

          <!-- Start Title of List Group-->
          <div *ngIf="group[selectedGroup.attribute] && group[selectedGroup.attribute].id !== null && selectedGroup.attribute.toUpperCase()==='SEMESTER'.toUpperCase()"
               class="mb-3 ml-1">
            <span class="sis--list-title text-dark">{{group[selectedGroup.attribute]?.id | semester}}</span>
          </div>
          <div *ngIf="selectedGroup.attribute.toUpperCase()==='COURSETYPE'.toUpperCase()" class="mb-3 ml-1">
            <span class="sis--list-title text-dark">{{group[selectedGroup.attribute]?.name}}</span>
          </div>
          <!-- End Title of List Group-->

          <!-- Dekstop Version -->
          <div class="flex-column d-none d-md-block">
            <!-- Start of List Group Header-->
            <ul class="sis--list-group sis--list-group-header">
              <li class="sis--list-group-item">
                <div class="d-flex justify-content-center align-items-center">
                  <div class='sis--list-group-item_lg_column' [translate]="'Grades.CourseName'"></div>
                  <div class='sis--list-group-item_md_column d-none d-md-block' [translate]="'Grades.Code'"></div>
                  <div class='sis--list-group-item_lg_column d-none d-xl-block' [translate]="'Grades.Teacher'"></div>
                  <div class='sis--list-group-item_md_column d-none d-lg-block' [translate]="'Grades.ExamPeriod'"></div>
                  <div class='sis--list-group-item_sm_column d-none d-md-block' [translate]="'Grades.Type'"></div>
                  <div class='sis--list-group-item_sm_column d-none d-md-block' [translate]="'CP'"></div>
                  <div class='sis--list-group-item_sm_column d-none d-md-block' [translate]="'ECTS'"></div>
                  <div class='sis--list-group-item_sm_column d-none d-md-block' [translate]="'Grades.Coefficient'"></div>
                  <div class='sis--list-group-item_sm_column' [translate]="'Grades.Grade'"></div>
                </div>
              </li>
            </ul>
            <!-- End of List Group Header-->

            <!-- Start of List Group Body-->
            <ul class="sis--list-group sis--list-group-body">
              <li class="sis--list-group-item" *ngFor="let grade of group.grades">
                <div class="d-flex justify-content-center align-items-center list-color">
                  <div class='sis--list-group-item_lg_column'>{{grade.courseTitle}}
                    <i *ngIf="grade.calculateGrade === 0 || grade.calculateUnits === 0 || grade.registrationType === 1" class='fa fa-info-circle text-gray-200'
                       placement="right" containerClass="course-tooltip" [tooltip]="tooltipText"></i>
                    <ng-template #tooltipText >
                      <div *ngIf="grade.registrationType === 1"   [translate]="'RegistrationType'" class="text-secondary font-sm"></div>
                      <div *ngIf="grade.calculateGrade === 0" [translate]="'CalculateGrade'" class="text-secondary font-sm"></div>
                      <div *ngIf="grade.calculateUnits === 0" [translate]="'CalculateUnits'" class="text-secondary font-sm"></div>
                    </ng-template>
                  </div>
                  <div class='sis--list-group-item_md_column d-none d-md-block'>{{grade.course.displayCode}}</div>
                  <div class='sis--list-group-item_lg_column d-none d-xl-block'>
                    <ng-container *ngIf="grade.gradeExam">
                      <ng-container *ngIf="grade.gradeExam.instructors">
                        <ng-container *ngFor="let examInstructor of grade.gradeExam.instructors; let isLast=last;">
                          <div>{{examInstructor.instructor.familyName}}
                            {{examInstructor.instructor.givenName}}{{isLast ? '' : ', '}}</div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                  <div class='sis--list-group-item_md_column d-none d-lg-block'>{{grade.gradePeriodDescription}}  {{grade?.gradeYear?.alternateName}}</div>
                  <div class='sis--list-group-item_sm_column d-none d-md-block'>{{grade.courseType.abbreviation}}</div>
                  <div class='sis--list-group-item_sm_column d-none d-md-block'>{{grade.units}}</div>
                  <div class='sis--list-group-item_sm_column d-none d-md-block'>{{grade.ects}}</div>
                  <div class='sis--list-group-item_sm_column d-none d-md-block'>{{grade.coefficient}}</div>
                  <div class='sis--list-group-item_sm_column font-weight-bold font-3xl text-right' [ngClass]="(grade.isPassed)?'text-success':'text-secondary'">{{grade.formattedGrade}}
                    <i *ngIf="grade.registrationType===1 && grade.grade===null" class="fa fa-check font-sm"></i>
                  </div>
                </div>
                <!-- Course Parts  -->
                <div *ngIf="grade.courses && grade.courses.length>0">
                  <div class="d-flex justify-content-center align-items-center list-color pt-2 pb-2" *ngFor="let course of grade.courses">
                    <div class='sis--list-group-item_lg_column pl-4'>{{course.courseTitle}}</div>
                    <div class='sis--list-group-item_md_column d-none d-md-block'>{{course.course.displayCode}}</div>
                    <div class='sis--list-group-item_lg_column d-none d-xl-block'>
                      <ng-container *ngIf="course.gradeExam">
                        <ng-container *ngIf="course.gradeExam.instructors">
                          <ng-container *ngFor="let examInstructor of course.gradeExam.instructors; let isLast=last;">
                            <div>{{examInstructor.instructor.familyName}}
                              {{examInstructor.instructor.givenName}}{{isLast ? '' : ', '}}</div>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div class='sis--list-group-item_md_column d-none d-lg-block'>{{course.gradePeriodDescription}} {{course?.gradeYear?.alternateName}}</div>
                    <div class='sis--list-group-item_sm_column d-none d-md-block'>-</div>
                    <div class='sis--list-group-item_sm_column d-none d-md-block'>-</div>
                    <div class='sis--list-group-item_sm_column d-none d-md-block'>-</div>
                    <div class='sis--list-group-item_sm_column d-none d-md-block'>-</div>
                    <div class='sis--list-group-item_sm_column font-weight-bold font-1xl text-right' [ngClass]="(course.isPassed)?'text-success':'text-secondary'">{{course.formattedGrade}}</div>
                  </div>
                </div>
                <!-- End Course Parts  -->
              </li>
            </ul>
            <!-- End of List Group Body-->

            <!-- Start of List Group Footer-->
            <div class="footer-text text-dark font-weight-normal text-right font-sm mt-3 mr-2">
              <div>
                <span [translate]="'Grades.TotalCourses'"></span>:
                <span class="font-weight-bold">{{ group.grades && group.grades.length }}</span>
              </div>
              <div class="mt-1">
                <span [translate]="'Grades.GradeSimpleAverage'"></span>: <span
                class="font-weight-bold">{{ group.simpleAverage }}</span>
              </div>
              <div class="mt-1">
                <span [translate]="'Grades.TotalEcts'"></span>:
                <span class="font-weight-bold">{{ group.ects }}</span>
              </div>
            </div>
            <!-- End of List Group Footer-->
          </div>
          <!-- End Dekstop Version -->

          <!-- Mobile Version -->
          <div class="d-sm-block d-md-none">
            <div class="mb-3" *ngFor="let grade of group.grades">
              <card-collapsible>
                <card-header>
                  <div class="d-flex align-items-center">
                    <div class="w-100"><h5 class="font-sm font-weight-normal">{{grade.courseTitle}}
                      <i *ngIf="grade.calculateGrade === 0 || grade.calculateUnits === 0 || grade.registrationType === 1" class='fa fa-info-circle text-gray-200'
                         placement="right" ></i></h5>
                    </div>
                    <div class="flex-shrink-1"><span class="font-2xl text-right font-weight-bold d-md-none d-sm-block" [ngClass]="(grade.isPassed)?'text-success':'text-secondary'">{{grade.formattedGrade}}
                      <i *ngIf="grade.registrationType===1 && grade.grade===null" class="fa fa-check font-sm"></i></span></div>
                  </div>
                </card-header>
                <card-alternate-header>
                </card-alternate-header>
                <card-body>
                  <div class="row pl-3 pr-4 font-sm mb-2"
                       *ngIf="grade.calculateGrade === 0 || grade.calculateUnits === 0 || grade.registrationType === 1">
                    <div *ngIf="grade.registrationType === 1" [translate]="'RegistrationType'"
                         class="text-secondary font-sm"></div>
                    <div *ngIf="grade.calculateGrade === 0" [translate]="'CalculateGrade'"
                         class="text-secondary font-sm"></div>
                    <div *ngIf="grade.calculateUnits === 0" [translate]="'CalculateUnits'"
                         class="text-secondary font-sm"></div>
                  </div>
                  <div class="row pl-3 pr-4 font-sm">
                    <span class="text-secondary mr-3"><i class="fa fa-flag-checkered mr-2"></i>{{grade.course.displayCode}}</span>
                    <ng-container *ngIf="grade.gradeExam">
                      <ng-container *ngIf="grade.gradeExam.instructors && grade.gradeExam.instructors.length > 0; else notShow">
                        <ng-container *ngFor="let examInstructor of grade.gradeExam.instructors;let isLast=last;">
                          <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i>{{examInstructor.instructor.familyName}}
                            {{examInstructor.instructor.givenName}}{{isLast ? '' : ', '}}</span>
                        </ng-container>
                      </ng-container>
                      <ng-template #notShow>
                        <span class="text-secondary mr-3"><i class="fa fa-user-secret mr-2"></i>{{'Grades.InstructorNotFound' | translate}}</span>
                      </ng-template>
                    </ng-container>
                    <span class="text-secondary mr-3" *ngIf="grade?.gradePeriodDescription?.length>0 || grade?.gradeYear?.alternateName?.length>0">
                      {{'Grades.ExamPeriod' | translate }} : {{grade?.gradePeriodDescription}} {{grade?.gradeYear?.alternateName}}
                    </span>
                    <span class="text-secondary mr-3" *ngIf="grade?.courseType?.abbreviation?.length>0">{{'Grades.Type' | translate }} : {{grade?.courseType.abbreviation}}</span>
                    <span class="text-secondary mr-3" *ngIf="grade?.units">{{'CP' | translate }} : {{grade?.units}}</span>
                    <span class="text-secondary mr-3" *ngIf="grade?.ects">{{'ECTS' | translate }} : {{grade.ects}}</span>
                    <span class="text-secondary mr-3" *ngIf="grade?.coefficient">{{'Grades.Coefficient' | translate }} : {{grade.coefficient}}</span>
                    <!-- Course Parts  -->
                    <div class="w-100 mt-3" *ngIf="grade.courses && grade.courses.length>0">
                      <div class="mt-3" *ngFor="let course of grade.courses">
                        <h5 class="font-sm font-weight-normal mb-0">{{course.courseTitle}}</h5> ({{course.course.displayCode}})
                        <div class="d-flex mt-1">
                          <span class="w-100 text-secondary mr-3">{{course.gradePeriodDescription}} {{course?.gradeYear?.alternateName}}</span>
                          <span class="flex-shrink-1 text-secondary mr-3 font-weight-bold font-1xl text-right" [ngClass]="(course.isPassed)?'text-success':'text-secondary'">{{course.formattedGrade}}</span>
                        </div>
                        <ng-container *ngIf="course?.gradeExam?.instructors">
                          <div class='w-100 mx-1'>
                            <ng-container *ngFor="let examInstructor of course.gradeExam.instructors; let isLast=last;">
                              <span class='text-secondary mr-3'><i class="fa fa-user-secret mr-2"></i>{{examInstructor.instructor.familyName}}
                                {{examInstructor.instructor.givenName}}{{isLast ? '' : ', '}}</span>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <span class="flex-shrink-1"></span>
                    <!-- End Course Parts  -->

                  </div>
                </card-body>
              </card-collapsible>
            </div>
            <div class="footer-text text-secondary font-weight-normal text-right font-sm mt-3 mr-2">
              <div>
                <span [translate]="'Grades.TotalCourses'"></span>:
                <span class="font-weight-bold">{{ group.grades && group.grades.length }}</span>
              </div>
              <div class="mt-1">
                <span [translate]="'Grades.GradeSimpleAverage'"></span>: <span
                class="font-weight-bold">{{ group?.simpleAverage }}</span>
              </div>
              <div class="mt-1">
                <span [translate]="'Grades.TotalEcts'"></span>:
                <span class="font-weight-bold">{{ group.ects}}</span>
              </div>
            </div>
          </div>
          <!-- End Mobile Version-->

        </div>
        <div *ngIf="group.grades && !group.grades.length">
          <div
            *ngIf="group[selectedGroup.attribute] && group[selectedGroup.attribute].id !== null && selectedGroup.attribute.toUpperCase()==='SEMESTER'.toUpperCase()"
            class="mb-3 ml-1">
            <span class="sis--list-title text-dark">{{group[selectedGroup.attribute]?.id | semester}}</span>
          </div>
          <div *ngIf="selectedGroup.attribute.toUpperCase()==='COURSETYPE'.toUpperCase()" class="mb-3 ml-1">
            <span class="sis--list-title text-dark">{{group[selectedGroup.attribute]?.name}}</span>
          </div>
          <div class="card">
            <div class="card-body text-secondary" [translate]="'Grades.NoRecordsFound'"></div>
          </div>
        </div>
      </div>
      <!-- End List Group-->
    </div>
  </div>
  <div class="col-lg-3 d-none d-lg-block statbox-sidebar mt-5 pt-5">
    <div *ngIf="weightedAverageObj.courses && !this.isLoading">
      <app-grades-statbox
        title="{{ 'Grades.PeriodStats' | translate }}"
        statsPeriod="{{ 'Grades.InTotal' | translate }}"
        labelTotal="{{ 'Grades.TotalCourses' | translate }}"
        [registeredCourses]="weightedAverageObj.courses"
        [passedCourses]="weightedAverageObj.passed"
        [passedGradeWeightedAverage]="passedGradeWeightedAverage"
        [passedGradeSimpleAverage]="passedGradeSimpleAverage"
        [totalEcts]="totalEcts"
        [isTranscript]=true></app-grades-statbox>
    </div>
  </div>
</div>

<div *ngIf="!isLoading && data && data.length === 0" class="mt-5">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-9">
          <span class="text-gray-600" [translate]="'Grades.NoGradesFound'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
